@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/* header mobile start */
@import 'remixicon/fonts/remixicon.css';

#header__menu:checked+.header__menu-modal {
    height: 100vh;
    opacity: 1;
    pointer-events: all;
}

.header__menu-modal {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 0;
    top: 100px;
    left: 0;
    background: rgb(255, 255, 255);
    z-index: 2;
    transition: .5s;
    padding: 31px 22px 60px;
}

.header__mobile-input {
    width: 100%;
    border-radius: 11px;
    background: var(--grey-1, #E7E7E7);
    border: 1px solid #E0E0E0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__mobile-input input {
    color: rgba(0, 0, 0, 0.50);
    font-size: 13px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.label__navigation {
    cursor: pointer;
}

.mobile__firt-input {
    margin-bottom: 53px;
}

.header__mobile-title {
    margin-top: 25px;
    color: #1D2023;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 12px;
}


.header__mobile-spiska__wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.header__mobile-spiska {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* header mobile end */

.header__menu {
    display: none;
}

.main {
    padding: 47px 27px;
}

.main__title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 21px;
}

.main__months {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

/* width */
.main__months::-webkit-scrollbar {
    width: 100%;
    height: 1px;
}

/* Track */
.main__months::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
.main__months::-webkit-scrollbar-thumb {
    background: rgba(58, 114, 60, 1);
    border-radius: 5px 0 0 5px;
    box-shadow: inset 5px -5px 5px rgba(58, 114, 60, 1);
}

.main__month {
    position: relative;
    margin-right: 50px;
}

.main__month-title {
    color: rgba(0, 0, 0, 0.30);
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.main__month-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.main__month-wrapper__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
}

.main__month-wrapper__item b {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.main__month-wrapper__item p {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
}

/* slider start */
.slider {
    margin-bottom: 70px;
}

.slider .swiper-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}

.swiper-slide {
    position: relative;
    border-radius: 18px;
    height: 633px;
    overflow: hidden;
    /* max-width: 380px; */
}

.swiper__slide-img {
    position: absolute;
    width: 100%;
    height: 100%;

}

.swiper__bottom {
    position: relative;
    margin-top: 30px;

}

.slider__slide-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 195px;
    border-radius: 18px;
    padding: 10px 21px 21px;
    display: block;
    object-fit: cover;
    background: #414141;
    color: #fff;
    font-family: 'Public Sans', sans-serif;
    color: var(--ffffff, #FFF);
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.422px;
}

.slider__card-title {
    font-size: 33.776px;
    font-weight: 800;
}

.slider__card-title+p {
    font-size: 21.11px;
    font-weight: 500;
    line-height: 29.554px;
}

.slider__slide-info span {
    color: var(--principales-7-b-809-b, #7B809B);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 21px;
    display: inline-block;
}

.slider__card-btn {
    width: 100%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.top__slider-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top__slider-logo h2 {
    color: var(--yellow-1, #FFD825);
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.top__arrows-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.top__slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.top__slider-arrows__right,
.top__slider-arrows__left {
    border: solid 1px #E0E0E0;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.top__slider-arrows__right i,
.top__slider-arrows__left i {
    color: #E0E0E0;
    transition: .3s;
}

.top__slider-namber {
    position: relative;
    width: 50px;
    height: 30px;
}

.top__slider-arrows__right:hover>i,
.top__slider-arrows__left:hover>i {
    color: #060606;
}

.slider2 img {
    width: 100%;
}

/* slider end */


/* mashurlar start */
.mashhurlar__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}

.mashhurlar__top-btn {
    border-radius: 18px;
    border: 2.111px solid var(--yellow-1, #FFD825);
    padding: 15px 30px;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-size: 16.888px;
    font-style: normal;
    font-weight: 300;
    line-height: 23.221px;
    transition: .3s;
    letter-spacing: -0.422px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

.mashhurlar__top-btn:hover {
    background: #FFD825;
}


/* mashurlar end */
.popularnoe__cards {
    display: grid;
    grid-template-columns: auto auto auto;
}

.popularnoe__card {
    width: 379px;
    margin: 20px auto;
}

.popularnoe__card-img {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.popularnoe__card-heard {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 23px;
    height: 26px;
    display: inline-block;
}

.popularnoe__card-title {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}


.popularnoe__card span {
    color: rgba(0, 0, 0, 0.50);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* sec3 start */

.sec3 {
    padding: 48px 0 80px;
}

.section__btn {
    border-radius: 18px;
    border: 2px solid var(--yellow, #FFD825);
    width: 100%;
    padding: 12px 15px 13px;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 58px;
}

.section__btn:hover {
    background: #FFD825;
}

.section__anons {
    display: block;
    border-radius: 28px;
    background: var(--yellow, #FFD825);
    padding: 70px 76px 75px 108px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.section__anons-text {
    width: 75%;
}

.section__anons-title {
    color: #000;
    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 52px;
}

.section__form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.section__input {
    background: #fff;
    width: 478px;
    padding: 12px 50px 12px 22px;
    border-radius: 26px;

    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #FFF;
}

.section__anons-btn {
    padding: 11px 31px 11px 33px;
    border-radius: 54px;
    background: var(--dark-footer, #363434);

    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}


.section__anons-img {
    position: absolute;
    right: 76px;
}

/* sec3 end */

/* footer start */
footer {
    background: #363434;
    padding-top: 50px;
}

.footer__inner {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-bottom: 107px;
}

.footer__left {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__content-title {
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 11px;
}

.footer__content a {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer__phone {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 31px;
}

.footer__email {
    margin-bottom: 60px;
}

.footer__email-item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--white, #FFF);

    font-family: 'Formular', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 14px;
    margin-bottom: 12px;
    border-bottom: solid 1px #ffffff33;
}

.social__network {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.social__network-title {
    margin-bottom: 20px;
}

.soccial__netwoks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__bottom {
    padding: 24px 0 42px;
    border-top: 1px solid #ffffff33;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff33;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* modal1 started */
#modal_1:checked+.modal1 {
    opacity: 1;
    pointer-events: all;
}

.modal1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #1D2023;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: 500ms;
}

.modal__inner {
    width: 1010px;
    border-radius: 24px;
    padding: 50px 80px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close__btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: #E8E8E8;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.modal__title {
    color: #414141;
    font-family: 'Rubik';
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal__input {
    padding: 18px 29px 18px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FAFAFA;
    margin: 20px 0 30px;
}

.modal__input input {
    width: 100%;
}

.modal__spiska {
    display: grid;
    grid-template-columns: auto auto auto;
}

.modal__spiska-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 5px;

    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


/* modal1 fineshed */

@media (max-width:1300px) {
    .container {
        width: 90%;
    }

    .popularnoe__cards {
        grid-template-columns: auto auto;
    }
}


@media(max-width:1100px) {
    .header .header__top .header__search {
        max-width: 320px;
    }

    .modal__inner {
        width: 80vw;
        padding: 50px 30px;
    }
}

@media (max-width:920px) {

    .section__anons {
        padding: 50px 0px 50px 30px;
    }


    .section__anons-img {
        right: 0px;
    }

    .modal__spiska-wrapper {
        overflow-x: scroll;
    }

    .modal__spiska {
        width: 700px;
    }

    .swiper-slide {
        min-width: 320px;
    }
}

@media (max-width:850px) {
    .header .header__top .header__search {
        display: none;
    }

    .header__menu {
        display: block;
    }

    .popularnoe__cards {
        grid-template-columns: auto;
    }

    .popularnoe__card-img {
        width: 100%;
    }

    .header__navigation-wrapper {
        overflow-x: auto;
    }

    .header__navigation {
        width: 800px;
        overflow-x: auto;
    }

    .footer__inner {
        grid-template-columns: auto;
    }

    .footer__left {
        margin-bottom: 50px;
    }

    .mashhurlar__top-btn {
        display: none;
    }
}

@media (max-width:768px) {

    .header__contact-btn {
        padding: 6px 16px;
        font-size: 11px;
        border-radius: 11px;
        width: 80px;
    }

    .main__title {
        font-size: 18px;
    }

    .popularnoe__card-title {
        font-size: 19px;
    }

    .section__anons-text {
        width: 100%;
    }

    .section__anons-title {
        margin-bottom: 27px;
        font-size: 20px;
    }

    .section__anons {
        padding: 50px 30px 100px;
        text-align: start;
    }

    .section__anons-img {
        bottom: -25%;
        width: 240px;
        height: 240px;
    }

    .section__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .section__input {
        width: 100%;
        border-radius: 11px;
    }

    .section__anons-btn {
        margin-right: auto;
        border-radius: 11px;
        padding: 11px 31px;
    }

    .swiper-slide {
        height: 439px;
        min-width: 300px;
    }

    .slider__card-title {
        font-size: 25px;
    }

    .top__slider-logo h2 {
        font-size: 28px;
    }

}

@media (max-width:500px) {
    .header .header__top .header__contact-gorod {
        display: none;
    }

    .swiper__slide {
        min-width: 170px;
    }

    .popularnoe__card {
        width: 100%;
    }

    .popularnoe__card-img img:first-child {
        width: 100%;
    }

    .footer__inner {
        padding-bottom: 58px;
    }

    .footer__left {
        grid-template-columns: 100%;
    }

    .footer__content:last-child {
        margin-top: 38px;
    }

    .top__arrows-right {
        display: none;
    }

}